@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
    font-family: 'Dancing Script', cursive;

}

.bg {
    background-image: url("https://i.ibb.co/1RsvcB3/riad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}





