@tailwind base;
@tailwind components;
@tailwind utilities;

.test {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-image: url("https://i.ibb.co/ChKzv4T/wedding-dreamz-k-Thpa-ZCb-JGA-unsplash.jpg");
   animation: smooth-zoom 15s infinite alternate;

   overflow: hidden;
}

.test1 {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-image: url("https://i.ibb.co/HC3j8cD/oziel-gomez-L8-0-SAy-ao-Q-unsplash.jpg");
   animation: smooth-zoom 15s infinite alternate;
   overflow: hidden;
}

.test2 {

   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-image: url("https://i.ibb.co/7SPTRMq/jonathan-borba-Owvh-G-6-GTQ-unsplash.jpg");
   animation: smooth-zoom 10s infinite alternate-reverse;
   overflow: hidden;
}


@keyframes smooth-zoom {

   from {
      transform: scale(1);
   }

   to {
      transform: scale(1.3);
   }

}